
services:

  db:
    image: postgres:15-alpine
    container_name: cinemasystem-db

    environment:
      POSTGRES_DB: cinemasystem2_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234

    ports:
      - "5432:5432"

  app:
    build: .
    container_name: cinemasystem-app
    depends_on:
      - db
    ports:
      - "8080:8080"

    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/cinemasystem2_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
      SPRING_JPA_HIBERNATE_DDL_AUTO: update