name: Release - Versão Semântica
on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - name: 1. Baixar o código
        uses: actions/checkout@v3

      - name: 2. Configurar Node.js (necessário para a action)
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: 3. Rodar o Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        with:
          semantic_version: 19
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
